<!doctype html>
<html lang="en" layout:decorate="~{layouts/layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Credit Cards</title>

    <link rel="stylesheet" th:href="@{/css/datatables/dataTables.bootstrap4.min.css}">
    <link rel="stylesheet" th:href="@{/css/datatables/buttons.bootstrap4.min.css}">
</head>

<body>
    <ol class="breadcrumb float-sm-right" layout:fragment="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
        <li class="breadcrumb-item active">Credit Cards</li>
    </ol>

    <div layout:fragment="content">
        <div class="col-md-8 offset-2">
            <div class="card">
                <div class="card-header pl-0 pr-0">
                    <button class="btn btn-sm btn-primary pull-right" id="btnAdd">
                        <i class="fa fa-plus-circle mr-1 text-white"></i>
                        <span class="text-white">Add Credit card</span>
                    </button>
                </div>
                <div class="card-body">
                    <div class="text-center alert alert-warning" th:if="${#lists.isEmpty(cards)}">You don't have credit cards.</div>
                    <div class="text-center alert alert-success" th:if="${message}">[[ ${message} ]]</div>
                    <ul th:if="${!#lists.isEmpty(errors)}" class="alert alert-danger" role="alert">
                        <li th:each="error : ${errors}" th:text="${error.defaultMessage}"></li>
                    </ul>

                    <table id="bootstrap-data-table-export" class="table table-bordered table-striped">
                        <div th:if="${!#lists.isEmpty(cards)}">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Balance</th>
                                    <th>Number</th>
                                    <th>PIN Code</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="card: ${cards}">
                                    <td> [[ ${card.name} ]] </td>
                                    <td> [[ ${card.balance} ]] </td>
                                    <td> [[ ${card.number} ]] </td>
                                    <td> [[ ${card.pin} ]] </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Name</th>
                                    <th>Balance</th>
                                    <th>Number</th>
                                    <th>PIN Code</th>
                                </tr>
                            </tfoot>
                        </div>
                    </table>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="storeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalTitle">Add Credit card</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method="POST" th:action="@{/credit-cards/store}" th:object="${newCard}">
                        <div class="modal-body">
                            <div class="row mt-3">
                                <div class="col">
                                    <label>Name</label>
                                    <input th:field="*{name}" id="name" type="text" class="form-control"
                                        placeholder="Credit card name" required>
                                </div>
                                <div class="col">
                                    <label>Balance</label>
                                    <input th:field="*{balance}" id="balance" type="number" min="0" class="form-control"
                                        placeholder="Credit card balance" required>
                                </div>
                            </div>

                            <div class="row mt-4">
                                <div class="col">
                                    <label>Credit card number</label>
                                    <input th:field="*{number}" id="ccNumber" type="text" class="form-control"
                                        placeholder="Credit card number" required>
                                </div>
                                <div class="col">
                                    <label>Credit card PIN</label>
                                    <input th:field="*{pin}" id="ccPIN" type="text" class="form-control"
                                        placeholder="Credit card PIN" required>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" id="btnRegistrar">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <section layout:fragment="scripts">
        <script th:src="@{/js/credit_card.js}"></script>
    </section>

</body>

</html>