<!doctype html>
<html lang="en" layout:decorate="~{layouts/layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Donations</title>
</head>

<body>
    <ol class="breadcrumb float-sm-right" layout:fragment="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
        <li class="breadcrumb-item active">Donations</li>
    </ol>

    <div layout:fragment="content">
        <h1 class="bg-primary" id="test">My donations: [[${donations}]]</h1>
    </div>
</body>

</html>